/*
nav {
    width: 100%;
    margin:0; 
}

nav ul {
    background-color: #8f0518;
    margin: 0;
    padding:0;
}

ul.topnav li {
    list-style: none;
    float: left;
}

ul.topnav li.topnav-right {
    float: right;
    
}

ul.topnav li.dropdownIcon a {
    position: absolute;
    top: 0;
    right: 0;
    
}

ul.topnav li a {
    display: block;
    text-decoration: none;
    min-height: 16px;
    text-align: center;
    padding: 15px;
    text-transform: uppercase;
    color: white;
    
}



ul.topnav li a:hover {
 background-color: #0080ff;
    color: white;
}

ul.topnav li.dropdownIcon {
    display: none;
}




.navbar {
    text-align: center;
    
    
}
*/

body{
 font-family: 'Montserrat', sans-serif;
}

h4{
    text-align: center;
}
nav {
    width: 100%;
    margin:0; 
    background-color: maroon;
}

.bg-maroon{
    background-color: maroon;
    
}
nav ul {
    
    margin: 0;
    padding:0;
}

ul.topnav li {
    list-style: none;
    float: left;
}

ul.topnav li.topnav-right {
    float: right;
    
}

ul.topnav li.dropdownIcon a {
    position: absolute;
    top: 0;
    right: 0;
    
}

ul.topnav li a {
    display: block;
    text-decoration: none;
    min-height: 16px;
    text-align: center;
    padding: 15px;
    text-transform: uppercase;
    color: white;
    
}



/*
ul.topnav li a:hover {
 background-color: #0080ff;
    color: white;
}
*/

ul.topnav li.dropdownIcon {
    display: none;
}

.container-fluid div{
  display: flex;
justify-content: space-around;}

.title{
 font-family: 'Montserrat', sans-serif;
color: #8f0518;

    margin:auto;


}
.img-fluid.visionPicSanya{
    padding: 15px;
}

.titleBig{
    font-size: 2.8rem;
}

.titleSmall {
    font-size: 1rem;
}

img.headshot{
    box-shadow: inset 0px 0px 200px rgba(255, 0, 0, 0.9);
    width: 100%;
    
}

.centered {
  position: absolute;
  top: 50%;
  left: 63%;
    transform: translate(-50%, -50%);
 font-family:'Montserrat', sans-serif;
color: white;
font-size: 2rem;
font-weight: 300;}
    
span{
    text-align: center;
    
}

.votehere {
    display: block;
    margin: auto;
}



#sanyaFace{
    background: radial-gradient ( circle, transparent 50%, black 150%); 
  box-shadow: inset 0px 0px 200px rgba(255, 0, 0, 0.9);   
}

span.h1 a {
    text-decoration: none;
}

div.container-fluid {
    padding: 0;
    
}

div.col-lg-2.col-md-6 {
    padding: 0;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }

.dropdown-item{
    text-align: center;
}

ul li a.dropdown-item{
    color: #8f0518;
     font-family: 'Montserrat', sans-serif;
    font-size: 0.65rem;
}

.leadSection{
    padding-top: 20px
}

.navbar.navbarlight {
     font-family: 'Montserrat', sans-serif;
}

#navbarDropdown {
    color: white;
    font-family: 'Montserrat', sans-serif;
    
}

.leadSection {
    padding: 20px;
}

.sanyapres{
    font-size: 1rem;
}


.posterpres h3, .postpres ul li{
       font-family: 'Montserrat', sans-serif;
}
ol.selectedArticles {
    padding: 5x;}
.modal-content{
    height: 600px;
    width: 100%;
}

.fa-at, .fa-twitter-square, .fa-linkedin  {
    color: white;
    margin: 10px;
    
}

.img-fluid{
    border: 2px solid black;
}

.footerText{
    color: white;
    margin: none;
    font-size: 0.5rem;
}
.socialWrapper {
    margin: auto;
}

.footerHome{
    background-color: #8f0518;
}


.btnCenter {
    margin: auto;
    display: block;
}


.article {
    display: block;
   

}

.Steps {
    color: maroon;
     font-family: 'Montserrat', sans-serif;
    padding: 15px;
    
}

.votehere{
    background-color: maroon; color: white;
    display: block;
    margin: auto;
}


.voteTitle{
    font-family: 'Montserrat', sans-serif;
    padding:15px;
    color: maroon;
    text-align: center;
}

.voteposter{
width: 70%;
    margin: auto;
    display: block;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.3)
}

.selectedArticles {
    font-family:  'Montserrat', sans-serif;
    font-size: 0.75rem;
    border: solid maroon 3px;
    padding: none;
 
}

.selectedArticles li{
padding: 0;
}

div.col {
    padding: 0;
    
}

.leadpage{
    padding: 10px;
    margin: auto;
}

p {
     font-family:  'Montserrat', sans-serif;
    
}



.oralpres {
   background-color: lightgrey;
       padding: 20px;
font-size: 0.65rem;
    display: block;
    border: 1px solid maroon 
    
/*    border: 1px solid black;*/

}

@media screen and (max-width:680px) {

    
    .centered {
  top: 30%;
font-size: 1rem;
}

    ul.topnav li:not(:nth-child(1)) {
        display: none;
}
    
    
    .titleBig {
        font-size:  1rem;
    }
    
    .titleSmall {
        font-size: 0.5rem;
    }
    
    
    
}
