/*
nav {
    width: 100%;
    margin:0; 
}

nav ul {
    background-color: #8f0518;
    margin: 0;
    padding:0;
}

ul.topnav li {
    list-style: none;
    float: left;
}

ul.topnav li.topnav-right {
    float: right;
    
}

ul.topnav li.dropdownIcon a {
    position: absolute;
    top: 0;
    right: 0;
    
}

ul.topnav li a {
    display: block;
    text-decoration: none;
    min-height: 16px;
    text-align: center;
    padding: 15px;
    text-transform: uppercase;
    color: white;
    
}



ul.topnav li a:hover {
 background-color: #0080ff;
    color: white;
}

ul.topnav li.dropdownIcon {
    display: none;
}




.navbar {
    text-align: center;
    
    
}
*/

body{
 font-family: 'Montserrat', sans-serif;
}

h4{
    text-align: center;
}
nav {
    width: 100%;
    margin:0; 
    background-color: maroon;
}

.bg-maroon{
    background-color: maroon;
    
}
nav ul {
    
    margin: 0;
    padding:0;
}

ul.topnav li {
    list-style: none;
    float: left;
}

ul.topnav li.topnav-right {
    float: right;
    
}

ul.topnav li.dropdownIcon a {
    position: absolute;
    top: 0;
    right: 0;
    
}

ul.topnav li a {
    display: block;
    text-decoration: none;
    min-height: 16px;
    text-align: center;
    padding: 15px;
    text-transform: uppercase;
    color: white;
    
}



/*
ul.topnav li a:hover {
 background-color: #0080ff;
    color: white;
}
*/

ul.topnav li.dropdownIcon {
    display: none;
}

.container-fluid div{
  display: flex;
justify-content: space-around;}

.title{
 font-family: 'Montserrat', sans-serif;
color: #8f0518;

    margin:auto;


}

.paperAction{
    
}

.actionPicWrapper, .action-paper-works{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
        
}

.pics{

    
    margin-top: 10px;
    border-radius: 3px;
    border: 1px solid #eee;
    box-shadow: 0 0 7px rgba(0,0,0,0.5)
}


.img-fluid.visionPicSanya{
    padding: 15px;
}




.addmargin{
    margin-top: 90px
}
.titleSmall {
    font-size: 1.4rem;
}

div.col-sm-10.col-sm-12{
    margin: 0
}

.imgfluid.visionPicSanya{
    padding: 10px;
    margin: 10px
}

.marginpurpose{
    margin-left: 50px
}
.sectionlight{
margin: auto;
padding: 0;
display: block
}

img.headshot{
    box-shadow: inset 0px 0px 200px rgba(255, 0, 0, 0.9);
    width: 100%;
    
}

.{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.centered {
  position: absolute;
  top: 45%;
  right:-29%;
    transform: translate(-50%, -50%);
 font-family:'Montserrat', sans-serif;
color: white;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 63px;
    font-weight: 100;
    line-height: 1.25;
    letter-spacing: 0.05em;
    margin: 15px auto;}
    
span{
    text-align: center;
    
}

.votehere {
    display: block;
    margin: auto;
}



#sanyaFace{
    background: radial-gradient ( circle, transparent 50%, black 150%); 
  box-shadow: inset 0px 0px 200px rgba(255, 0, 0, 0.9);   
}

span.h1 a {
    text-decoration: none;
}

div.container-fluid {
    padding: 0;
    
}

div.col-lg-2.col-md-6 {
    padding: 0;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }

.dropdown-item{
    text-align: center;
}

ul li a.dropdown-item{
    color: #8f0518;
     font-family: 'Montserrat', sans-serif;
    font-size: 0.65rem;
}

.leadSection{
    padding-top: 20px
}

.navbar.navbarlight {
     font-family: 'Montserrat', sans-serif;
}

#navbarDropdown {
    color: white;
    font-family: 'Montserrat', sans-serif;
    
}

.wrapperVision {
    
}

.visionPicSanya {
    min-width: 200px;
    margin-left: 20px;
    margin-top: 30px
}

.visionObject {
    display: flex;
    align-items: center;
    padding: 14px;
    
}
.icon-wrapper-left,
.icon-wrapper-right{
    flex: 4;
    display: flex;
    justify-content: center;
}

.icon-wrapper-left,
.blurbWrapper-left{
    order: 2;
}

.icon-wrapper-right, 
.blurbWrapper-right{
    order:1;
    
}

video.videoSanya, vidwrapper{
    display: block;
    margin: auto;
    margin-bottom: 30px;
    outline: none;
}

.blurbWrapper-right, 
.blurbWrapper-left{
    flex: 1;
    padding: 8px;
}

.icon{
    max-width: 180px
}



.leadSection {
    padding: 20px;
}

.sanyapres{
    font-size: 1rem;
}


.posterpres h3, .postpres ul li{
       font-family: 'Montserrat', sans-serif;
}
ol.selectedArticles {
    padding: 5x;}
.modal-content{
    height: 600px;
    width: 100%;
}

.fa-at, .fa-twitter-square, .fa-linkedin  {
    color: white;
    margin: 10px;
    
}

.img-fluid{
    border: 2px solid black;
}

.footerText{
    color: white;
    margin: none;
    font-size: 0.5rem;
}
.socialWrapper {
    margin: auto;
}

.footerHome{
    background-color: #8f0518;
}


.btnCenter {
    margin: auto;
    display: block;
}


.article {
    display: block;
   

}

.Steps {
    color: maroon;
     font-family: 'Montserrat', sans-serif;
    padding: 15px;
    
}

.votehere{
    background-color: maroon; color: white;
    display: block;
    margin: auto;
}


.voteTitle{
    font-family: 'Montserrat', sans-serif;
    padding:15px;
    color: maroon;
    text-align: center;
}

.voteposter{
width: 70%;
    margin: auto;
    display: block;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.3)
}

.selectedArticles {
    font-family:  'Montserrat', sans-serif;
    font-size: 0.75rem;
   
    padding: none;
 
}

.selectedArticles li{
padding: 0;
}

div.col {
    padding: 0;
    
}

.leadpage{
    padding: 10px;
    margin: auto;
}

p {
     font-family:  'Montserrat', sans-serif;
    
}



.oralpres {
   background-color: lightgrey;
       padding: 40px;
font-size: 0.65rem;
    display: block;
    border: 1px solid maroon;
   
    
/*    border: 1px solid black;*/

}

@media screen and (max-width:680px) {

    
    .centered {
  top: 17%;
  position: absolute;

  right:-21%;

}

    ul.topnav li:not(:nth-child(1)) {
        display: none;
}
    video.videoSanya{
        width: 300px
    }
    
    .titleBig {
        font-size:  1.2rem;
    }
    
    .titleSmall {
        font-size: 0.8rem;
    }
    
    .visionObject {
    display: flex;
        flex-direction: column
    
}
